* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff8fc;
  color: #333;
  padding: 20px;
}

/* BANNER */
.top-banner {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* HEADER */
header {
  background-color: white;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #3f22ec;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-left: 15px;
}

nav a:hover {
  color: #fa58a7;
}

/* CONTAINER */
.sobre {
  background-color: white;
  max-width: 850px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
}

.sobre h2 {
  text-align: center;
  color: #3f22ec;
  margin-bottom: 20px;
}

/* TABELA */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #3f22ec;
  color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}