* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff8fc;
  color: #333;
  padding: 20px;
}

/* BANNER */
.top-banner {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

/* HEADER */
header {
  background-color: white;
  max-width: 1000px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #3f22ec;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-left: 15px;
}

nav a:hover {
  color: #fa58a7;
}

/* HERO */
.hero {
  background-color: white;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-text h1 {
  color: #3f22ec;
  margin-bottom: 15px;
}

.hero-text p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero-image img {
  width: 280px;
  border-radius: 10px;
}

/* BOTÃO */
button {
  background-color: #3f22ec;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #fa58a7;
}

/* SEÇÕES */
.sobre,
.modalidades,
.cronograma,
.acoes {
  background-color: white;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
}

.sobre h2,
.modalidades h2,
.cronograma h2,
.acoes h2 {
  text-align: center;
  color: #3f22ec;
  margin-bottom: 20px;
}

.sobre p {
  line-height: 1.7;
  text-align: justify;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  background-color: #f4f4f4;
  width: 170px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

/* TABELAS */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background-color: #3f22ec;
  color: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* BOTÕES FINAIS */
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}