*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #333;
}

/* BANNER */
.top-banner{
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 20px auto;
}

/* HEADER */
header{
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
    padding: 15px;
    border: 1px solid #ccc;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 22px;
    font-weight: bold;
    color: #c2185b;
}

nav a{
    text-decoration: none;
    color: #333;
    margin-left: 15px;
}

nav a:hover{
    color: #c2185b;
}

/* HERO */
.hero{
    background-color: white;
    width: 1000px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ccc;

    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-text h1{
    color: #c2185b;
    margin-bottom: 15px;
}

.hero-text p{
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero-image img{
    width: 300px;
}

/* BOTÕES */
button{
    background-color: #3f22ec;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #3118c7;
}

/* SEÇÕES */
.sobre,
.modalidades,
.cronograma,
.acoes{
    background-color: white;
    width: 1000px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ccc;
}

.sobre h2,
.modalidades h2,
.cronograma h2,
.acoes h2{
    text-align: center;
    color: #c2185b;
    margin-bottom: 20px;
}

.sobre p{
    line-height: 1.6;
    text-align: justify;
}

/* CARDS */
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card{
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    width: 180px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* TABELAS */
table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #c2185b;
    color: white;
}

th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* BOTÕES FINAIS */
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}