* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff8fc;
  color: #333;
  padding: 20px;
}

/* BANNER */
.top-banner {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* HEADER */
.header {
  background-color: white;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #3f22ec;
  font-size: 20px;
  font-weight: bold;
}

.menu a {
  text-decoration: none;
  color: #333;
  margin-left: 15px;
}

.menu a:hover {
  color: #fa58a7;
}

/* CARD */
.card-box {
  background-color: white;
  max-width: 850px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
}

.card-box h2 {
  text-align: center;
  color: #3f22ec;
  margin-bottom: 20px;
}

/* FORMULÁRIO */
.form-jogo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-jogo label {
  font-weight: bold;
  color: #3f22ec;
}

.form-jogo select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-jogo button {
  margin-top: 10px;
  padding: 12px;
  background-color: #3f22ec;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form-jogo button:hover {
  background-color: #fa58a7;
}

/* MENSAGEM */
.mensagem {
  margin-top: 15px;
  text-align: center;
  color: #3f22ec;
  font-weight: bold;
}

/* TABELA */
.tabela-jogos {
  width: 100%;
  border-collapse: collapse;
}

.tabela-jogos th {
  background-color: #3f22ec;
  color: white;
}

.tabela-jogos th,
.tabela-jogos td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}